.header{
    height: 7vh;
    display: grid;
    place-items: center;
    background-color: var(--secondary);
    font-size: 1em;
    color: var(--primary);
}

@media (max-width: 768px){
    .header{
        height: 4vh;
        font-size: .7em;
    }
}
@media (max-width: 375px){
    .header{
        height: 3vh;
        font-size: .5em;
    }
}