.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}
@media (max-width: 768px){
    .main-container{
        flex-direction: column;
        height: 100%;
        gap: 1.5em;
        padding-block: 1.5em;
        height: 100%;
    }
}
@media (max-width: 543px){
    .main-container{
        height: 100%;
        gap: 1em;
    }
}