.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

@media (max-width: 768px){
    .main-container{
        border: 1px solid red;
        flex-direction: column;
        height: 100%;
        gap: 1.5em;
        padding-block: 1.5em;
    }
}