* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary: #4a536b;
	--secondary: #ff9a8d;
	--tertiary: #aed6dc;
	--lighterSecondary: #ff9a8d81;
	--white: #fff;
}

.app-wrapper {
	background-color: var(--primary);
	height: 100vh;
}

@media (max-width: 768px){
	.app-wrapper{
		height: 100%;
	}
}
